.padding-04rem {
  padding: 0.4rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.text-secondary {
  color: $secondary-color;
}

.text-size-15rem {
  font-size: 1.5rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.full-height {
  height: calc(100vh - 120px);
}

.center-content {
  margin: 0 auto;
}

.no-height {
  height: inherit !important;
}

.responsive-img {
  width: auto;
  height: 100%;
}

.height-100 {
  height: calc(100vh - 180px);
}

.text-primary-dark {
  color: $primary-dark;
}

.absolute-position-credits {
  position: absolute;
  right: 0;
  top: calc(100vh - 200px);
  z-index: 2;
}
