.bg-primary {
  background-color: $primary-color;
}

.height-60px {
  max-height: 60px;
}

.logo-font {
  font-family: 'Black Ops One', sans-serif;
}

.logo-subtitle-font {
  font-family: 'Rochester', cursive;
  font-weight: 700;
}

.text-success {
  color: $success-color;
}