// .transition-container {
//   position: relative;
//   width: 100%;
//   perspective: 1200px;
//   transform-style: preserve-3d;
//   overflow-x: hidden;
// }

.pt-page {
  width: 100%;
  position: absolute;
  top: 20vh;
  left: 0;
  display: none;
  transform: translate3d(0, 0, 0);
}

.pt-page.is-current {
  display: block;
}

.pt-page.is-onTop {
  z-index: 1;
}

#page-1 {
  top: 10vh;
}

#slide3hardware-text {
  opacity: 0;
  font-weight: bold;
}

// .layer {
//   display: none;
// }

// .layer.show {
//   display: block;
// }
