.transition-container {
  position: relative;
  width: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
  overflow-x: hidden;
}

.pt-page {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.pt-page.is-current {
  visibility: visible;  
}

.pt-page.is-onTop {
  z-index: 1;
}
