<div class="absolute-position-breadcrumb">
  <ul class="breadcrumb-counter-nav">
    <li class="breadcrumb-counter-nav-item current">
      <a href="index.html" class="pt-btn js-btn" data-out="moveFromRight" data-in="moveToRight" data-target="0">Start Here</a>
    </li>
    <li class="breadcrumb-counter-nav-item">
      <a href="#" class="pt-btn js-btn" data-out="moveToRight" data-in="moveFromRight" data-target="1"></a>
    </li>
    <li class="breadcrumb-counter-nav-item">
      <a href="#" class="pt-btn js-btn" data-out="moveToRight" data-in="moveFromRight" data-target="2"></a>
    </li>
  </ul> 
</div>