<div class="absolute-position-breadcrumb">
  <ul class="breadcrumb-counter-nav">
    <li class="breadcrumb-counter-nav-item current start-btn goto-btn" id="goto-0">
      <a href="#page-0">Start Here</a>
    </li>
    <li class="breadcrumb-counter-nav-item goto-btn" id="goto-1">
      <a href="#page-1">Step One</a>
    </li>
    <li class="breadcrumb-counter-nav-item goto-btn" id="goto-2">
      <a href="#page-2">Step Two</a>
    </li>
    <li class="breadcrumb-counter-nav-item goto-btn" id="goto-3">
        <a href="#page-3">Step Three</a>
      </li>
  </ul> 
</div>