<div class="grid-x align-middle no-height pt-page js-page pt-page-0 is-current" data-viewport="0">
  <div class="grid-x grid-margin-y center-content">
    <div class="cell">
      <div class="grid-x align-center">
        <img src="assets/img/docker.png">
      </div>
    </div>
  
    <div class="cell center-content">
      <div class="grid-x align-center">
        <a href="#" class="large button primary pt-btn js-btn" data-out="moveToRight" data-in="moveFromRight"><strong>Start</strong></a>
      </div>
    </div>
  </div>
</div>
 