<div class="grid-x no-height pt-page is-current is-onTop" id="page-0">
  <div class="grid-x grid-margin-y center-content">
    <div class="cell">
      <h3 class="text-center">Content still in Progress...</h3>
      <div class="grid-x align-center">
        <img src="assets/img/docker.png">
      </div>
    </div>
  
    <div class="cell center-content">
      <div class="grid-x align-center">
        <a href="#page-1" class="large button primary start-btn"><strong>Start</strong></a>
      </div>
    </div>
  </div>
</div>
 