<header class="bg-primary height-60px">
  <div class="grid-x">
    <a class="cell devops-logo" href="/">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell small-1 padding-04rem">
          <img src="assets/img/Devops3.png">
        </div>
        <div class="cell auto logo-text">
          <div class="grid-y grid-frame">
            <strong class="cell auto logo-font text-secondary text-size-15rem text-uppercase">Learn Docker</strong>
            <span class="cell auto text-success logo-subtitle-font">The Hard Way</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</header>