<div class="grid-y align-middle"> 
  <div class="cell">
    <div class="grid-x align-center">
      <h4 class="subheader"><strong>A quick look inside a computer's architecture</strong></h4>
    </div>
  </div>
  <div class="cell height-100">
    <div class="grid-x align-center height-100">
      <img class="responsive-img " src="assets/img/computer.svg">
    </div>
  </div>
  <div class="cell align-self-bottom">
    <div class="grid-x align-self-bottom">
      <small class="text-right">Graphic Designed by <a href="http://www.freepik.com">Freepik</a></small>
    </div>
  </div>
  <div class="grid-x absolute-position-breadcrumb">
    <ul class="breadcrumb-counter-nav">
      <li class="breadcrumb-counter-nav-item"><a href="index.html">Start Here</a></li>
      <li class="breadcrumb-counter-nav-item current"><a href="one.html"></a></li>
      <li class="breadcrumb-counter-nav-item"><a href="two.html"></a></li>
    </ul> 
  </div>
</div>
