<div class="grid-x no-height align-middle pt-page" id="page-3">
    <div class="holy-grail-grid">
      <!-- <div class="holy-grail-left">
        <img class="responsive-img" src="assets/img/app.svg">
      </div>
      <div class="holy-grail-middle">
        <img class="responsive-img" src="assets/img/app.svg">
      </div>
      <div class="holy-grail-right">
        <img class="responsive-img" src="assets/img/app.svg">
      </div>-->
      <div class="holy-grail-footer">
        <img class="responsive-img" src="assets/img/os.svg">
      </div>
      <div class="holy-grail-footer" id="slide3hardware">
        <img class="responsive-img" src="assets/img/hardware.svg">
      </div>
    </div>
  </div>
    