<div class="grid-x no-height align-middle pt-page" id="page-2">
  <h5 class="text-center">Click anywhere on the screen to move to next slide</h5>
  <div class="holy-grail-grid">
    <!-- <div class="holy-grail-left layer" id="slide3app1">
      <img class="responsive-img" src="assets/img/app.svg">
    </div>
    <div class="holy-grail-middle layer" id="slide3app2">
      <img class="responsive-img" src="assets/img/app.svg">
    </div>
    <div class="holy-grail-right layer" id="slide3app3">
      <img class="responsive-img" src="assets/img/app.svg">
    </div>
    <div class="holy-grail-footer layer" id="slide3os">
      <img class="responsive-img" src="assets/img/os.svg">
    </div> -->
    <div class="holy-grail-footer layer" id="slide3hardware">
      <img class="responsive-img" src="assets/img/hardware.svg">
      <p class="h3" id="slide3hardware-text">A kernel (operating system) connects the application software to the hardware of a computer</p>
    </div>
  </div>
</div>
  